$englishFont : futura-pt;
$japaneseFont : source-han-sans-japanese;

*{
    box-sizing: border-box;
}
body{
    font-family: $englishFont, $japaneseFont, sans-serif;
    font-size: 62.5%;
    text-align: center;
    font-feature-settings: "palt";
}
img{
    max-width: 100%;
}